<footer id="footer" class="footer appear-animate">
	<div class="container">
		<div class="footer-top">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<a href="#" class="logo-footer">
						<img src="{{ asset('theme/images/demos/demo-market2/logo-footer.png') }}" alt="logo-footer" width="153" height="44"/>
					</a>
					<!-- End FooterLogo -->
				</div>
				<div class="col-lg-4 widget-newsletter mb-4 mb-lg-0">
					<h4 class="widget-title ls-normal">Abonnez-vous à notre newsletter</h4>
					<p>Obtenez toutes les dernières informations sur les événements, les ventes et les offres.</p>
				</div>
				<div class="col-lg-5 widget-newsletter">
					<form action="#" class="input-wrapper-inline mx-auto mx-lg-0">
						<input type="email" class="form-control" name="email" id="email" placeholder="Adresse e-mail ici..." required/>
						<button class="btn btn-primary btn-rounded btn-md ml-2" type="submit">s'abonner<i class="d-icon-arrow-right"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
		<!-- End FooterTop -->
		<div class="footer-middle">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="widget widget-info">
						<h4 class="widget-title">Informations de contact</h4>
						<ul class="widget-body">
							<li>
								<label>Phone:</label>
								<a href="tel:#">Toll Free (123) 456-7890</a>
							</li>
							<li>
								<label>Email:</label>
								<a href="mailto:mail@riode.com">riode@mail.com</a>
							</li>
							<li>
								<label>Adresse:</label>
								<a href="#">123 Street, City, Country</a>
							</li>
							<li>
								<label>JOURS / HEURES OUVRABLES:</label>
							</li>
							<li>
								<a href="#">Lun - Dim / 9:00 AM - 8:00 PM</a>
							</li>
						</ul>
					</div>
					<!-- End Widget -->
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="widget">
						<h4 class="widget-title">Mon compte</h4>
						<ul class="widget-body">
							<li>
								<a href="{{path('app_panier')}}">Suivre ma commande</a>
							</li>
							<li>
								<a href="#">Voir le panier</a>
							</li>
							<li>
								<a href="{{ path('app_client_login')}}">Se connecter</a>
							</li>
							<li>
							<a href="/about-us">À propos</a></li>
							<li>
								<a href="/wishlist">Ma liste de souhaits</a>
							</li>
							<li>
								<a href="/politique-confidentialite">Politique de confidentialité</a>
							</li>
						</ul>
					</div>
					<!-- End Widget -->
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="widget">
						<h4 class="widget-title">À propos de nous</h4>
						<ul class="widget-body">
							<li>
								<a href="/about-us">>À propos de nous</h4>
							</li>
							<li>
								<a href="#">Historique des commandes</a>
							</li>
							<li>
								<a href="#">Retours</a>
							</li>
							<li>
								<a href="#">Service personnalisé</a>
							</li>
							<li>
								<a href="#">Conditions et &amp; État</a>
							</li>
						</ul>
					</div>
					<!-- End Widget -->
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="widget">
						<h4 class="widget-title">Service client</h4>
						<ul class="widget-body">
							<li>
								<a href="#">Modes de paiement</a>
							</li>
							<li>
								<a href="#">Garantie de remboursement !</a>
							</li>
							<li>
								<a href="#">Retours de produits</a>
							</li>
							<li>
								<a href="#">Centre d'assistance</a>
							</li>
							<li>
								<a href="#">Livraison</a>
							</li>
						</ul>
					</div>
					<!-- End Widget -->
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="widget widget-instagram pl-lg-10 mb-0 mb-md-6">
						<h4 class="widget-title">Instagram</h4>
						<figure class="widget-body row">
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/01.jpg') }}" alt="instagram 1" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/02.jpg') }}" alt="instagram 2" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/03.jpg') }}" alt="instagram 3" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/04.jpg') }}" alt="instagram 4" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/05.jpg') }}" alt="instagram 5" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/06.jpg') }}" alt="instagram 6" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/07.jpg') }}" alt="instagram 7" width="64" height="64"/>
							</div>
							<div class="col-3">
								<img src="{{ asset('theme/images/instagram/08.jpg') }}" alt="instagram 8" width="64" height="64"/>
							</div>
						</figure>
					</div>
					<!-- End Instagram -->
				</div>
			</div>
		</div>
		<!-- End FooterMiddle -->
		<div class="footer-main">
			<div class="widget widget-category">
				<div class="category-box">
					<h6 class="category-name">Vêtements :</h6>

					<a href="#">Bottes</a>
					<a href="#">Robes</a>
					<a href="#">Jeans</a>
					<a href="#">Sac à dos en cuir</a>
					<a href="#">Basket pour homme</a>
					<a href="#">T-shirt homme</a>
					<a href="#">Chemises Peter England</a>
					<a href="#">Rayban</a>
					<a href="#">Lunettes de soleil</a>

				</div>
				<div class="category-box">
					<h6 class="category-name">Informatique et technologies :</h6>

					<a href="#">Pomme</a>
					<a href="#">Drone</a>
					<a href="#">Contrôleur de jeu</a>
					<a href="#">iMac</a>
					<a href="#">Ordinateur portable</a>
					<a href="#">Smartphone</a>
					<a href="#">Tablette</a>
					<a href="#">Haut-parleur sans fil</a>

				</div>
				<div class="category-box">
					<h6 class="category-name">Électricité grand public :</h6>
					<a href="#">Climatisation</a>
					<a href="#">Haut-parleur audio</a>
					<a href="#">Réfrigérateur</a>
					<a href="#">Caméra de sécurité</a>
					<a href="#">Télévision Télévision</a>
					<a href="#">Machine à laver</a>
				</div>
				<div class="category-box">
					<h6 class="category-name">Bijoux & Montres :</h6>
					<a href="#">Ammolite</a>
					<a href="#">Opale australienne</a>
					<a href="#">Bague en diamant</a>
					<a href="#">Cornaline à facettes</a>
					<a href="#">Gucci</a>
					<a href="#">Observateur de cuir</a>
					<a href="#">Collier</a>
					<a href="#">Pendentif</a>
					<a href="#">Rolex</a>
					<a href="#">Boucles d'oreilles en argent</a>
					<a href="#">pyrite solaire</a>
					<a href="#">Montres</a>
				</div>
				<div class="category-box">
					<h6 class="category-name">Santé et beauté :</h6>
					<a href="#">Douche corporelle</a>
					<a href="#">Soin des cheveux</a>
					<a href="#">Rouge à lèvres</a>
					<a href="#">Maquillage</a>
					<a href="#">Parfum</a>
					<a href="#">Soin de la peau</a>
				</div>
				<div class="category-box">
					<h6 class="category-name">Maison, jardin et cuisine :</h6>
					<a href="#">Chambre à coucher</a>
					<a href="#">Mélangeur</a>
					<a href="#">Chaise</a>
					<a href="#">Ustensiles de cuisine</a>
					<a href="#">Décor</a>
					<a href="#">Équipements de jardin</a>
					<a href="#">Bibliothèque</a>
					<a href="#">Salon</a>
					<a href="#">Bouclier-Ovale</a>
					<a href="#">Canapé</a>
					<a href="#">Ustensile</a>
					<a href="#">Voyageur</a>
				</div>


			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-left">
				<figure class="payment">
					<img src="{{ asset('theme/images/payment.png') }}" alt="payment" width="159" height="29"/>
				</figure>
			</div>
			<div class="footer-center">
				<p class="copyright">Vazimarket &copie; 
				<script>
					document.write(new Date().getFullYear())
				</script>. Tous droits réservés</p>
			</div>
			<div class="footer-right">
				<div class="social-links">
					<a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
					<a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
					<a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
				</div>
			</div>
		</div>
		<!-- End FooterBottom -->
	</div>
</footer>
