<div class="header-bottom fix-top sticky-content d-lg-show">
	<div class="container" id="hide-on-scroll">
		<div class="header-left">
			<div class="dropdown category-dropdown" data-visible="true">
				<a href="#" class="category-toggle" role="button" data-toggle="dropdown" data-display="static" title="Parcourir les catégories">
					<i class="d-icon-bars"></i>
					<span>Parcourir les catégories</span>
				</a>

				<div class="dropdown-box">
					<ul class="menu vertical-menu category-menu" id="cat-vertical">
						
						<li>
							<a href="#">
								<i class="d-icon-home"></i>Maison & Jardin
							</a>
							<ul class="megamenu">
								<li>
									<h4 class="menu-title">Chambre</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="#">Lits, cadres et sommiers</a>
										</li>
										<li>
											<a href="#">Commodes</a>
										</li>
										<li>
											<a href="#">Tables de chevet</a>
										</li>
										<li>
											<a href="#">Lits et têtes de lit pour enfants</a>
										</li>
										<li>
											<a href="#">Armories</a>
										</li>
									</ul>

									<h4 class="menu-title">Le salon</h4>
									<hr class="divider">
									<ul>
										<li><a href="#">Tables basses</a></li>
										<li><a href="#">Chaises</a></li>
										<li><a href="#">Tableaux</a></li>
										<li><a href="#">Futons et canapés
											Lits</a></li>
										<li><a href="#">Armoires &
											Coffres</a></li>
									</ul>
								</li>
								<li>
									<h4 class="menu-title">Bureau</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="#">Chaises de bureau</a>
										</li>
										<li>
											<a href="#">Bureaux</a>
										</li>
										<li>
											<a href="#">Bibliothèques</a>
										</li>
										<li>
											<a href="#">Classeurs</a>
										</li>
										<li>
											<a href="#">Tables de salle de bain</a>
										</li>
									</ul>

									<h4 class="menu-title">Cuisine et salle à manger</h4>
									<hr class="divider">
									<ul>
										<li><a href="#">Ensembles de salle à manger</a></li>
										<li><a href="#">Rangement de cuisine
											Armoires</a></li>
										<li><a href="#">Porte-bagages</a></li>
										<li><a href="#">Chaises de salle à manger</a></li>
										<li><a href="#">Salle à manger
											Tableaux</a></li>
										<li><a href="#">Tabourets de bar</a></li>
									</ul>
								</li>
								<li>
									<div class="menu-banner banner-fixed menu-banner5">
										<figure>
											<img src="{{ asset('theme/images/menu/banner-5.jpg') }}" alt="Menu Banner" width="235" height="461"/>
										</figure>
										<div class="banner-content">
											<h4 class="banner-subtitle text-white font-weight-normal ls-normal">
												Meilleures offres</h4>
											<h3 class="banner-title text-white ls-m mb-5">Économisez<br>jusqu'à 30 %<br>sur la liquidation</h3>
											<a href="#" class="btn btn-outline btn-white btn-rounded btn-md">Acheter maintenant</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-desktop"></i>Électronique
							</a>
							<ul class="megamenu">
								<li>
									<h4 class="menu-title">Ordinateurs portables et ordinateurs</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="#">Ordinateur
												Ordinateurs</a>
										</li>
										<li>
											<a href="#">Moniteurs</a>
										</li>
										<li>
											<a href="#">Ordinateurs portables</a>
										</li>
										<li>
											<a href="#">Pilotes durs et
												Stockage</a>
										</li>
										<li>
											<a href="#">Imprimantes et
												Fournitures</a>
										</li>
										<li>
											<a href="#">Ordinateur
												Accessoires</a>
										</li>
									</ul>

									<h4 class="menu-title mt-1">Télévision et vidéo</h4>
									<hr class="divider">
									<ul>
										<li><a href="#">Téléviseurs</a></li>
										<li><a href="#">Audio domestique
											Intervenants</a></li>
										<li><a href="#">Projecteurs</a></li>
										<li><a href="#">Diffusion multimédia
											Appareils</a></li>
									</ul>
								</li>
								<li>
									<h4 class="menu-title">Appareils photo numériques</h4>
									<hr class="divider">
									<ul>
										<li>
											<a href="#">Reflex numérique
												Caméras</a>
										</li>
										<li>
											<a href="#">Sports et action
												Caméras</a>
										</li>
										<li>
											<a href="#">Objectifs d'appareil photo</a>
										</li>
										<li>
											<a href="#">Imprimante photo</a>
										</li>
										<li>
											<a href="#">Mémoire numérique
												Cartes</a>
										</li>
										<li>
											<a href="#">Sacs photo,
												Sacs à dos</a>
										</li>
									</ul>

									<h4 class="menu-title mt-1">Téléphones portables</h4>
									<hr class="divider">
									<ul>
										<li><a href="#">Téléphones de l'opérateur</a></li>
										<li><a href="#">Téléphones déverrouillés</a></li>
										<li><a href="#">Téléphone et portable
											Cas</a></li>
										<li><a href="#">Téléphone portable
											Chargeurs</a></li>
									</ul>
								</li>
								<li>
									<div class="menu-banner banner-fixed menu-banner5">
										<figure>
											<img src="{{ asset('theme/images/menu/banner-6.jpg') }}" alt="Menu Banner" width="235" height="433"/>
										</figure>
										<div class="banner-content">
											<h4 class="banner-subtitle font-weight-normal text-body">Offres de la semaine</h4>
											<h3 class="banner-title ls-m mb-4">Économisez sur les<br>jeux intelligents<br>et la fantaisie
												<br><span class="text-uppercase text-primary d-inline-block mt-2 font-weight-bold">20 % de réduction</span>
											</h3>
											<a href="#" class="btn btn-outline btn-dark btn-rounded btn-md">Acheter maintenant</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-sofa"></i>Meubles
							</a>
							<div class="megamenu type2">
								<div class="row">
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Meubles</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="#">Canapés et canapés</a></li>
											<li><a href="#">Fauteuils</a></li>
											<li><a href="#">Cadres de lit</a></li>
											<li><a href="#">Tables d'appoint</a></li>
											<li><a href="#">Coiffeuses</a></li>
											<li><a href="#">Coffre de
												Tiroirs</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Éclairage</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="#">Ampoules</a></li>
											<li><a href="#">Lampes</a></li>
											<li><a href="#">Lumières de plafond</a></li>
											<li><a href="#">Appliques murales</a></li>
											<li><a href="#">Salle de bain
												Éclairage</a></li>
											<li><a href="#">Extérieur
												Éclairage</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Accessoires pour la maison</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="#">Décoratif
												Accessoires</a></li>
											<li><a href="#">Candales &
												Titulaires</a></li>
											<li><a href="#">Parfum d'ambiance</a></li>
											<li><a href="#">Miroirs</a></li>
											<li><a href="#">Horloges</a></li>
										</ul>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<h4 class="menu-title">Jardin & Extérieur</h4>
										<hr class="divider"/>
										<ul>
											<li><a href="#">Jardin
												Meubles</a></li>
											<li><a href="#">Tondeuses à gazon</a></li>
											<li><a href="#">Pression
												Rondelles</a></li>
											<li><a href="#">Tous les jardins
												Outils</a></li>
											<li><a href="#">Repas en plein air</a></li>
											<li><a href="#">Barbecue &
												Équipement</a></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/1.jpg') }}" alt="Menu Banner" width="172" height="106"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/2.jpg') }}" alt="Menu Banner" width="107" height="78"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/3.jpg') }}" alt="Menu Banner" width="127" height="101"/>
										</figure>
									</div>
									<div class="col-md-3 col-lg-3 col-6">
										<figure>
											<img src="{{ asset('theme/images/menu/4.jpg') }}" alt="Menu Banner" width="105" height="105"/>
										</figure>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-heartbeat"></i>Santé & Beauté
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-gift"></i>Idées de cadeau
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-gamepad1"></i>Jouets & Jeux
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-cook"></i>Cuisine
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-mobile"></i>Téléphones intelligents
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-camera2"></i>Appareils photo et photos
							</a>
						</li>
						<li>
							<a href="#">
								<i class="d-icon-clock"></i>Accessoires
							</a>
						</li>
						<li>
							<a href="#" class="font-weight-semi-bold text-primary text-uppercase ls-25">
								Afficher toutes les catégories<i class="d-icon-angle-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<nav class="main-nav">
				<ul class="menu menu-active-underline">
					<li class="">
						<a href="/">Nouvel arrivage</a>
					</li>
					<li>
						<a href="/">Mode</a>
					</li>
					<li>
						<a href="/">Meubles</a>						
					</li>
					<li>
						<a href="/">Sports</a>
					</li>
					<li>
						<a href="/">Smartphone</a>
					</li>
					<li>
						<a href="/">Jeux</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header-right">
			<a href="#">
				<i class="d-icon-card"></i>Offres spéciales</a>
		</div>
	</div>
</div>

<script src="{{asset('/custom-js/load-categorie.js')}}"></script>

<script>
    {# window.addEventListener('scroll', (event) => {
    const max = window.scrollY >= 248
     var dom = document.querySelector('#hide-on-scroll')
     var search = document.querySelector('#search-bar-sticky')
    if ( max ) {
        dom.classList.add('d-none')
        search.classList.remove('d-none')
    }  else {
        dom.classList.remove('d-none')
        search.classList.add('d-none')        
    }    
    
}) #}
</script>