<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<title>Inscription</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="" name="description"/>
		<meta
		content="" name="author"/>
		<!-- App favicon -->
		<link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico')}}">

		<!-- Bootstrap Css -->
		<link
		href="{{ asset('assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css"/>
		<!-- Icons Css -->
		<link
		href="{{ asset('assets/css/icons.min.css')}}" rel="stylesheet" type="text/css"/>
		<!-- App Css-->
		<link href="{{ asset('assets/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css"/>


	</head>


	<body class="authentication-bg bg-primary">
		<div class="home-center">
			<div class="home-desc-center">

				<div class="container">

					<div class="home-btn">
						<a href="/" class="text-white router-link-active">
							<i class="fas fa-home h2"></i>
						</a>
					</div>


					<div class="row justify-content-center">
						<div class="col-md-8 col-lg-6 col-xl-5">
							<div class="card">
								<div class="card-body">
									<div class="px-2 py-3">


										<div class="text-center">
											<a href="{{ path('app_home')}}">
												<img src="{{ asset('assets/images/logo-dark.png')}}" height="22" alt="logo">
											</a>

											<h5 class="text-primary mb-2 mt-4">Inscription gratuite</h5>
											<p class="text-muted">Obtenez votre compte Vazimarket gratuit dès maintenant.</p>
										</div>

                                        {% if success != '' %}
                                           <p class="alert alert-success">{{ success }}</p>
                                        {% endif %}

                                        {% if error != '' %}
                                           <p class="alert alert-danger">{{ error }}</p>
                                        {% endif %}


                                        {{ form_start(form, {'attr': {'class':'form-horizontal'}})}}

											<div class="mb-3">
												<label for="useremail">Email</label>
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control','name':'nom', 'placeholder':'Entrer l email'}}) }}
											</div>

											<div class="mb-3">
												<label for="userpassword">Password</label>
                                                {{ form_widget(form.password, {'attr': {'class': 'form-control','name':'password', 'placeholder':'Entrer le password'}}) }}
											</div>

											<div class="mt-4">
                                                
                                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-100 waves-effect waves-light','value':'Inscription'}}) }}
											</div>

											<div class="mt-4 text-center">
												<p class="mb-0">En vous inscrivant, vous acceptez les conditions d'utilisation de Vazimarket,
													<a href="#" class="text-primary">Conditions d'utilisation.</a>
												</p>
											</div>
										{{ form_end(form)}}
									</div>
								</div>
							</div>

							<div class="mt-5 text-center text-white">
								<p>Avez-vous déjà un compte ?
									<a href="{{ path('app_vazimarket_login')}}" class="fw-bold text-white">
										Se connecter
									</a>
								</p>
								<p>©
									<script>
										document.write(new Date().getFullYear())
									</script>
									Vazimarket
									<i class="mdi mdi-heart text-danger"></i>
									</p>
							</div>
						</div>
					</div>

				</div>


			</div>
			<!-- End Log In page -->
		</div>

		<!-- JAVASCRIPT -->
		<script src="{{ asset('assets/libs/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/libs/metismenu/metisMenu.min.js') }}"></script>
		<script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
		<script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>

		<script src="{{ asset('assets/js/app.js') }}"></script>

	</body>

</html>
