<section class="grey-section pt-4 pb-10">
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-lg-9 mb-4">
				<div class="owl-carousel owl-theme owl-dot-inner row cols-1 gutter-no animation-slider" data-owl-options="{
																		                                    'nav': false,
																		                                    'dots': true,
																		                                    'margin': 0
																		                                }">
					<div class="banner banner-fixed intro-slide intro-slide1 content-middle banner-radius">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/1.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #e7e9e9;"/>
						</figure>
						<div class="banner-content">
							<div class="slide-animate" data-animation-options="{
																											                                                'name': 'fadeInLeftShorter', 'duration': '1s'
																											                                            }">
								<h4 class="banner-subtitle font-weight-semi-bold text-body text-uppercase">
									Sale up to
									<span class="text-secondary ls-l">20 % de réduction</span>
									sur tout
								</h4>
								<h3 class="banner-title font-secondary font-weight-bold mb-1">L'excellente collection</h3>
								<p class="font-weight-normal text-body mb-5">Seulement jusqu'à la fin de la semaine</p>
								<a href="{{path('app_boutique',{'id':5})}}" class="btn btn-dark btn-rounded">Achetez maintenant<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner banner-fixed intro-slide intro-slide2 content-middle banner-radius text-right">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/2.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #cdbbaf;"/>
						</figure>
						<div class="banner-content">
							<div class="slide-animate" data-animation-options="{
																											                                                'name': 'fadeInRightShorter', 'duration': '1s'
																											                                            }">
								<h4 class="banner-subtitle font-weight-semi-bold text-body">
									Nouvelle collection étonnante</h4>
								<h3 class="banner-title font-secondary">Décoration de bague en diamant</h3>
								<p class="font-weight-normal text-body ls-m">
									Discount
									<span class="text-secondary text-uppercase font-weight-semi-bold ls-l">30% de réduction</span>
									Pour la Bijouterie</p>
								<a href="{{path('app_boutique',{'id':5})}}" class="btn btn-dark btn-rounded">Achetez maintenant<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner banner-fixed intro-slide intro-slide3 content-middle banner-radius">
						<figure>
							<img src="{{ asset('theme/images/demos/demo-market2/slide/3.jpg') }}" alt="Banner" width="1030" height="498" style="background-color: #ece8e4;"/>
						</figure>
						<div class="banner-content">
							<h4 class="banner-subtitle font-weight-semi-bold text-body text-uppercase slide-animate" data-animation-options="{
																											                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.2s'
																											                                            }">
								Monde de la musique avec</h4>
							<h3 class="banner-title font-secondary slide-animate" data-animation-options="{
																								                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.4s'
																								                                            }">Musique intelligente à définition lourde</h3>
							<p class="font-weight-normal text-body ls-m mb-5 slide-animate" data-animation-options="{
																											                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.6s'
																											                                            }">
								Fournit
								<span class="text-secondary font-weight-semi-bold">Ton élevé</span>
								qualité avec murmure</p>
							<a href="{{path('app_boutique',{'id':5})}}" class="btn btn-white btn-rounded slide-animate" data-animation-options="{
																								                                                'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.8s'
																								                                            }">Achetez maintenant<i class="d-icon-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="row cols-lg-1 cols-sm-2 cols-1">
					<div class="banner-wrap">
						<div class="banner banner-fixed intro-banner banner-radius mb-4">
							<figure>
								<img src="{{ asset('theme/images/demos/demo-market2/slide/4.jpg') }}" alt="Banner" width="330" height="239" style="background-color: #e4e4e4;"/>
							</figure>
							<div class="banner-content">
								<h4 class="banner-subtitle text-uppercase font-weight-normal text-body ls-m">
									Nouveautés</h4>
								<h3 class="banner-title font-secondary text-uppercase font-weight-semi-bold ls-m">
									Été<br>
									Vente 20 % de réduction</h3>
								<a href="{{path('app_boutique',{'id':5})}}" class="btn btn-dark btn-link btn-underline font-weight-normal">Achetez maintenant<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="banner-wrap">
						<div class="banner banner-fixed intro-banner banner-radius mb-4">
							<figure>
								<img src="{{ asset('theme/images/demos/demo-market2/slide/5.jpg') }}" alt="Banner" width="330" height="239" style="background-color: #f0eae4;"/>
							</figure>
							<div class="banner-content">
								<h4 class="banner-subtitle text-uppercase font-weight-normal text-body ls-m">
									Jeu 4k</h4>
								<h3 class="banner-title font-secondary text-uppercase font-weight-semi-bold ls-m">
									Ordinateurs de bureau et &amp;
									<br>ordinateurs portables</h3>
								<a href="{{path('app_boutique',{'id':5})}}" class="btn btn-dark btn-link btn-underline font-weight-normal">Achetez maintenant<i class="d-icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-slider owl-carousel owl-theme row gutter-no cols-lg-4 cols-md-3 cols-sm-2 cols-1 bg-white mt-2 mb-10" data-owl-options="{
												                            'nav': false,
												                            'dots': false,
												                            'autoplay': true,
												                            'autoplayTimeout': 4000,
												                            'responsive': {
												                                '0': {
												                                    'items': 1
												                                },
												                                '576': {
												                                    'items': 2
												                                },
												                                '992': {
												                                    'items': 3
												                                },
												                                '1306': {
												                                    'items': 4
												                                }
												                            }
												                        }">
			<div class="icon-box icon-box-side icon-box1">
				<i class="icon-box-icon d-icon-truck"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Livraison gratuite &amp;
																		                                        Retourne
					</h4>
					<p class="lh-1">Livraison gratuite sur les commandes de plus de 99 $</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box2">
				<i class="icon-box-icon d-icon-service"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Assistance client 24h/24 et 7j/7
					</h4>
					<p class="lh-1">Accès instantané à une assistance parfaite</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box3">
				<i class="icon-box-icon d-icon-secure"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Paiement 100% Sécurisé
					</h4>
					<p class="lh-1">Nous assurons le paiement sécurisé !</p>
				</div>
			</div>

			<div class="icon-box icon-box-side icon-box4">
				<i class="icon-box-icon d-icon-money"></i>
				<div class="icon-box-content">
					<h4 class="icon-box-title text-capitalize lh-1 ls-s">Garantie de remboursement
					</h4>
					<p class="lh-1">Tout retour dans les 30 jours</p>
				</div>
			</div>
		</div>

		{% if allCategoriePrincipal|length > 0 %}
		
		<div class="row cols-lg-6 cols-sm-3 cols-2 pt-6 pb-2 appear-animate">

			{%for categoriePrincipal in allCategoriePrincipal%}
				<div class="category-wrap mb-4">
					<div class="category category-default1 category-absolute">
						<a href="{{path('app_boutique',{'id':categoriePrincipal.getId})}}">
							<figure>
								<img src={{categoriePrincipal.image}} alt="Category" width="213" height="213"/>
							</figure>
							<div class="category-content">
								<h4 class="category-name">{{categoriePrincipal.nom}}</h4>
							</div>
						</a>
					</div>
				</div>
				{%endfor%}


			</div>
		</div>
		{% endif %}
	</section>