{# <h2 class="title ls-normal appear-animate" data-animation-options="{'name': 'fadeIn'}">Vos produits récemment consultés</h2>
<div class="recent-view-slider owl-carousel owl-theme row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2 mb-8 appear-animate" data-animation-options="{'name': 'fadeIn'}" data-owl-options="{
															                            'nav': false,
															                            'dots': true,
															                            'margin': 20,
															                            'responsive': {
															                                '0': {
															                                    'items': 2
															                                },
															                                '576': {
															                                    'items': 3
															                                },
															                                '768': {
															                                    'items': 4
															                                },
															                                '992': {
															                                    'items': 6
															                                },
															                                '1200': {
															                                    'items': 8
															                                }
															                            }
															                        }">
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/28.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/29.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/30.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/31.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/32.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/33.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/34.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
	<a href="{{path('app_product',{'id':'1'})}}">
		<figure class="product-border">
			<img src="{{ asset('theme/images/demos/demo-market2/product/35.jpg') }}" alt="Product" width="153" height="172"/>
		</figure>
	</a>
</div> #}