{% extends 'dashboard/_base.html.twig' %}

{% block dashboardPageContent %}
  <!-- start page title -->
  <div class="page-title-box">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="page-title">
            <h4>Configuration de l'attribut ({{ attribut.getNom }})</h4>
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Vazimarket</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Marketplace</a>
              </li>
              <li class="breadcrumb-item active">Tous les attributs</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="float-end d-none d-sm-block">
            {# <a href="" class="btn btn-success">Ajouter un attribut</a> #}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="container-fluid">
    <div class="page-content-wrapper">
      {% if attribut.getType == 'Label' or attribut.getType == 'Taille' %}
        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                <p class="card-title-desc">Ajouter des elements d'attribut</p>
                <div class="my-3">
                  <label for="titre">Titre</label>
                  <input type="text" id="s-titre" class="form-control" name="titre" placeholder="Titre" required />
                </div>

                <div class="my-3">
                  <label for="valeur">Valeur</label>
                  <input type="text" id="s-valeur" class="form-control" name="valeur" placeholder="Valeur" required />
                </div>

                <input type="hidden" value="{{ attribut.getId }}" id="s-idAttribut" />

                <div>
                  <button onclick="addSousVariation()" class="btn btn-success">Ajouter</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="card m-b-30">
              <div class="card-body">
                <h4 class="mt-0 header-title mb-4">Tous les elements</h4>
                <div class="table-responsive">
                  <table class="table table-centered table-nowrap table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="body-sousVariations">
                      {% for i in sousAttributs %}
                        <tr>
                          <td>
                            <h5 class="font-size-16">{{ i.getTitre }}</h5>
                          </td>

                          <td>
                            <h5 class="font-size-16">{{ i.getValeur }}</h5>
                          </td>

                          <td id="tooltip-container0">
                            <a data-bs-toggle="modal" data-bs-target="{{ '#attribut-' ~ i.getId }}" class="me-3 text-primary" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a onclick="deleteTerme({{ i.getId }})" class="text-danger" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                          </td>
                        </tr>

                        <div class="modal fade" id="{{ 'attribut-' ~ i.getId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier ce terme</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="my-3">
                                  <label for="titre">Titre</label>
                                  <input type="text" id="{{ 'ms-titre-' ~ i.getId }}" class="form-control" name="titre" value="{{ i.getTitre }}" />
                                </div>

                                <div class="my-3">
                                  <label for="valeur">Valeur</label>
                                  <input type="text" id="{{ 'ms-valeur-' ~ i.getId }}" class="form-control" name="valeur" value="{{ i.getValeur }}" />
                                </div>
                                <input type="hidden" value="{{ attribut.getId }}" id="{{ 'ms-idAttribut-' ~ i.getId }}" />
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button onclick="updateTerme({{ i.getId }})" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if attribut.getType == 'Couleur' %}
        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                <p class="card-title-desc">Ajouter des elements d'attribut</p>
                <div class="my-3">
                  <label for="">Titre</label>
                  <input type="text" id="titre" class="form-control" name="titre" placeholder="Titre" required />
                </div>

                <div class="my-3">
                  <label for="">Valeur</label>
                  <input type="color" id="valeur" class="form-control" name="valeur" placeholder="Valeur" required />
                </div>
                <input type="hidden" value="{{ attribut.getId }}" id="c-idAttribut" />
                <hr />
                <h4 class="text-center">Ou bien</h4>
                <div>
                  <p style="margin-bottom: 0px;">Entrer votre couleur en hexa ici</p>
                  <div class="mt-1 mb-3 col-5">
                    <input type="text" oninput="changeColor()" class="form-control" id="hexa" name="hexa" placeholder="Votre couleur en hexa" required />
                  </div>
                </div>

                <div>
                  <button onclick="addCouleur()" class="btn btn-success">Ajouter</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="card m-b-30">
              <div class="card-body">
                <h4 class="mt-0 header-title mb-4">Tous les elements</h4>
                <div class="table-responsive">
                  <table class="table table-centered table-nowrap table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="body-couleur">
                      {% for i in sousAttributs %}
                        <tr>
                          <td>
                            <h5 class="font-size-16">{{ i.getTitre }}</h5>
                          </td>

                          <td>
                            <h5 class="font-size-16"><div title="{{ i.getTitre }}" style="width:30px;height:30px; border-radius:10px; background-color: {{ i.getValeur }}"></div></h5>
                          </td>

                          <td id="tooltip-container0">
                            <btn data-bs-toggle="modal" data-bs-target="{{ '#attribut-' ~ i.getId }}" class="me-3 text-primary" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                              <i class="mdi mdi-pencil font-size-18"></i>
                            </btn>
                            <a onclick="deleteTermeColor({{ i.getId }})" class="text-danger" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                          </td>
                        </tr>

                        <div class="modal fade" id="{{ 'attribut-' ~ i.getId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier ce terme</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="my-3">
                                  <label for="">Titre</label>
                                  <input type="text" id="{{ 'm-titre-' ~ i.getId }}" class="form-control" name="titre" value="{{ i.getTitre }}" />
                                </div>

                                <div class="my-3">
                                  <label for="">Valeur</label>
                                  <input type="color" id="{{ 'm-valeur-' ~ i.getId }}" class="form-control" name="valeur" value="{{ i.getValeur }}" />
                                </div>
                                <input type="hidden" value="{{ attribut.getId }}" id="{{ 'mc-idAttribut-' ~ i.getId }}" />
                                <hr />
                                <h4 class="text-center">Ou bien</h4>
                                <div>
                                  <p style="margin-bottom: 0px;">Entrer votre couleur en hexa ici</p>
                                  <div class="mt-1 col-5">
                                    <input type="text" oninput="changeColorEdit({{ i.getId }})" class="form-control" id="{{ 'm-hexa-' ~ i.getId }}" name="hexa" placeholder="Votre couleur en hexa" required />
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button onclick="updateTermeColor({{ i.getId }})" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <!-- END ROW -->
    </div>
  </div>

  <script src="{{ asset('/custom-js/attribut.js') }}"></script>

  <!-- container-fluid -->
{% endblock %}
