<div class="widget widget-products">
	<h4 class="widget-title lh-1 border-no text-capitalize ">Produits du vendeur
	</h4>
	<div class="widget-body">
		<div class="owl-carousel owl-nav-top" data-owl-options="{
								                                                'items': 1,
								                                                'loop': true,
								                                                'nav': true,
								                                                'dots': false,
								                                                'margin': 20
								                                            }">
			<div class="products-col">

			{% if autres_produits %}
			{% for i, autre in autres_produits %}
				{% if id != autre.getId %}
					<div class="product product-list-sm text-center">
					<figure class="product-media">
						<a href="{{path('app_product',{'id':autre.getId})}}">
							<img src="{{ autre.getImage}}" alt="product" width="165" height="184">
						</a>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="{{path('app_product',{'id':autre.getId})}}">{{autre.getNom}}</a>
						</h3>
						<div class="product-price">
							<span class="price">{{autre.getTarifRegulier}}</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				
			{% endfor %}
			
			
			{% endif %}
			
			</div>
			<!-- End Products Col -->
			<div class="products-col">
				{# <div class="product product-list-sm text-center">
					<figure class="product-media">
						<a href="{{path('app_product',{'id':'1'})}}">
							<img src="{{ asset ('theme/images/demos/demo-market2/product/14.jpg') }}" alt="product" width="165" height="184">
						</a>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="{{path('app_product',{'id':'1'})}}">Ceinture en cuir pour homme</a>
						</h3>
						<div class="product-price">
							<span class="price">€54.00</span>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:80%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="product product-list-sm text-center">
					<figure class="product-media">
						<a href="{{path('app_product',{'id':'1'})}}">
							<img src="{{ asset ('theme/images/demos/demo-market2/product/15.jpg') }}" alt="product" width="165" height="184">
						</a>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="{{path('app_product',{'id':'1'})}}">Couette Femme
							</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">€23.12</ins>
							<del class="old-price">€32.45</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:60%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="product product-list-sm mb-0 text-center">
					<figure class="product-media">
						<a href="{{path('app_product',{'id':'1'})}}">
							<img src="{{ asset ('theme/images/demos/demo-market2/product/8.jpg') }}" alt="product" width="165" height="184">
						</a>
					</figure>
					<div class="product-details">
						<h3 class="product-name">
							<a href="{{path('app_product',{'id':'1'})}}">Cartable gris fille</a>
						</h3>
						<div class="product-price">
							<ins class="new-price">€154.21</ins>
							<del class="old-price">€184.63</del>
						</div>
						<div class="ratings-container">
							<div class="ratings-full">
								<span class="ratings" style="width:100%"></span>
								<span class="tooltiptext tooltip-top"></span>
							</div>
						</div>
					</div>
				</div> #}
			</div>
			<!-- End Products Col -->
		</div>
	</div>
</div>
