<!doctype html>
<html lang="en">

<head>

    
    <meta charset="utf-8" />
    <title>Login | Vendeur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico')}}">

    <!-- Bootstrap Css -->
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('assets/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body class="authentication-bg bg-primary">
    <div class="home-center">
        <div class="home-desc-center">

            <div class="container">

                <div class="home-btn"><a href="/" class="text-white router-link-active"><i
                            class="fas fa-home h2"></i></a></div>


                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">


                                    <div class="text-center">
                                        <a href="{{path('app_home')}}">
                                            <img src="{{ asset('assets/images/logo-dark.png')}}" height="22" alt="logo">
                                        </a>

                                        <p class="mt-3 text-muted">Se connecter a Vazimarket.</p>
                                    </div>


                                    <form class="form-horizontal mt-4 pt-2" method="post">
										{% if error %}
											<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
										{% endif %}
							
                                        <div class="mb-3">
                                            <label for="username">Email</label>
                                            <input  type="email" name="email" value="{{ last_username }}" class="form-control" id="username"
                                                placeholder="Entrer votre email">
                                        </div>

                                        <div class="mb-3">
                                            <label for="userpassword">Password</label>
                                            <input type="password" class="form-control"  name="password" id="userpassword"
                                                placeholder="Enter password">
                                        </div>

                                        <div class="mb-3">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="customControlInline" name="_remember_me">
                                                    <label class="form-label"
                                                        for="customControlInline">Se souvenir de moi ?</label>
                                                </div>
												
                                        </div>
										<input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}"  >
                                        <div>
                                            <button class="btn btn-primary w-100 waves-effect waves-light"
                                                type="submit">Se connecter</button>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <a href="{{ path('app_createur_recuperation')}}" class="text-muted"><i class="mdi mdi-lock me-1"></i> Mot de passe oublie ?</a>
                                        </div>
    

                                    </form>

                                  
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center text-white">
                            <p>Je n'ai pas encore de compte ?<a href="{{path('app_createur_sigin')}}" class="fw-bold text-white"> creer maintenant</a> </p>
                            <p>© <script>document.write(new Date().getFullYear())</script> Vazimarket</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- End Log In page -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="{{ asset('assets/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/libs/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>

    <script src="{{ asset('assets/js/app.js') }}"></script>

</body>

</html>