{% extends 'base.html.twig' %}

{% block title %}
  Commandes
{% endblock %}
{% block header %}

{% endblock %}
{% block body %}
  {% include 'components/base/header-logo.html.twig' %}
  <link rel="stylesheet" type="text/css" href="{{ asset('theme/css/style.min.css') }}" />
  <main class="main order">
    <div class="page-content pt-7 pb-10 mb-10">
      <div class="step-by pr-4 pl-4">
        <h3 class="title title-simple title-step"><a href="{{ path('app_panier') }}">1.Panier</a></h3>
        <h3 class="title title-simple title-step"><a href="/checkout">2. Paiement</a></h3>
        <h3 class="title title-simple title-step active"><a href="/order">3. Commande terminée</a></h3>
      </div>
      <div class="container mt-8">
        <div class="order-message mr-auto ml-auto">
          <div class="icon-box d-inline-flex align-items-center">
            <div class="icon-box-icon mb-0">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <g>
                  <path fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" d="
																					M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
																					c0-0.7,0-1.4-0.1-2.1"></path>
                  <polyline fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" points="
																					48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
                </g>
              </svg>
            </div>
            <div class="icon-box-content text-left">
              <h5 class="icon-box-title font-weight-bold lh-1 mb-1">Merci !</h5>
              <p class="lh-1 ls-m">Votre commande a été reçue</p>
            </div>
          </div>
        </div>

        <div class="order-results">
          <div class="overview-item">
            <span>Numéro de commande :</span>
            <strong>{{ commande.getId }}</strong>
          </div>
          <div class="overview-item">
            <span>Statut :</span>
            <strong>Traitement</strong>
          </div>
          <div class="overview-item">
            <span>Date :</span>
            <strong>{{ commande.getDateCommande }}</strong>
          </div>
          <div class="overview-item">
            <span>E-mail :</span>
            <strong>{{ commande.getClient.getEmail }}</strong>
          </div>
          <div class="overview-item">
            <span>Totale :</span>
            <strong>{{ commande.getPrix }} €</strong>
          </div>
          <div class="overview-item">
            <span>Mode de paiement :</span>
            <strong>Paiement à la livraison</strong>
          </div>
        </div>

        <h2 class="title title-simple text-left pt-4 font-weight-bold text-uppercase">Détails de la commande</h2>
        <div class="order-details">
          <table class="order-details-table">
            <thead>
              <tr class="summary-subtotal">
                <td>
                  <h3 class="summary-subtitle">Produit</h3>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for detail in commande.getDetailsCommandes %}
                <tr>
                  <td class="product-name">
                    {{ detail.getNomProduit }}
                    <span>
                      <i class="fas fa-times"></i>
                      {{ detail.getQuantite }}
                    </span>
                  </td>
                  <td class="product-price">{{ detail.getPrixTotal }}€</td>
                </tr>
              {% endfor %}

              <tr class="summary-subtotal">
                <td>
                  <h4 class="summary-subtitle">Total:</h4>
                </td>
                <td class="summary-subtotal-price">{{ commande.getPrix ~ '€' }}</td>
              </tr>
              <tr class="summary-subtotal">
                <td>
                  <h4 class="summary-subtitle">Expédition:</h4>
                </td>
                <td class="summary-subtotal-price">Livraison gratuite</td>
              </tr>
              <tr class="summary-subtotal">
                <td>
                  <h4 class="summary-subtitle">Mode de paiement :</h4>
                </td>
                <td class="summary-subtotal-price">Paiement à la livraison</td>
              </tr>
              <tr class="summary-subtotal">
                <td>
                  <h4 class="summary-subtitle">Total:</h4>
                </td>
                <td>
                  <p class="summary-total-price">€312.00</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="title title-simple text-left pt-10 mb-2">Adresse de facturation</h2>
        <div class="address-info pb-8 mb-6">
          <p class="address-detail pb-2">
            Jean Doe<br />
            Compagnie Riode<br />
            Rue Steven<br />
            El Carjon, Californie 92020<br />
            123456789
          </p>
          <p class="email">mail@riode.com</p>
        </div>

        <a href="#" class="btn btn-icon-left btn-dark btn-back btn-rounded btn-md mb-4">
          <i class="d-icon-arrow-left"></i>
          Retour à la liste
        </a>
      </div>
    </div>
  </main>
{% endblock %}
{% block footer %}

{% endblock %}
{% block footerSticky %}

{% endblock %}
